doctype html
html
  head
    meta(charset="UTF-8")
    title TheTheChat

    // material icon
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/thethechatJaejong.css')

  body
    .wrapper
      .empty-bar
      .channel-display
        .channel-header
          .profile-image JH
          .profile-name Jaejong Heo
          .logout-button
        .channel-option
          .input-search
            input
          .channel-adder +
        .channel-body
          .channel-group 즐겨찾기
          .channel-item
            .icon-type.icon a
            .text 안녕
            .icon-hide.icon a
            .icon-quit.icon a
          .channel-item s
          .channel-group 즐겨찾기
          .channel-item a
          .channel-item s
          .channel-group 즐겨찾기
          .channel-item a
          .channel-item s
        .channel-footer the.the.chat
      .main-display
        .chat-title-zone
          i.material-icons star_border
          i.material-icons lock
          .chat-title web-class
        .chat-logs-zone
          .chat-with-profile
            .profile-image
            .profile-name hyunwoo.han
            .leader-mark Admin
            .leader-mark Owner
            .time 오후 4시 8분
          .simple-chat

        .chat-sender
          .sender-group
            i.material-icons.emoticon-adder insert_emoticon
            .message-content
            i.material-icons.file-adder attachment
            i.material-icons.file-adder mic
            i.material-icons.file-adder videocam


      .function-display
        i.material-icons info
        i.material-icons search
        i.material-icons people
        i.material-icons notifications
        i.material-icons attachment
        i.material-icons alternate_email
        i.material-icons star
        i.material-icons bookmark
